:root {
  --background-color: #0d1117;
  --header-bg-color: #161b22;
  --text-color: #c9d1d9;
  --icon-hover-color: #00d4ff;
  --icon-shadow-color: rgba(0, 212, 255, 0.5);
  --grid-gap: 25px;
  --modal-bg-color: #161b22;
  --modal-border-color: #00d4ff;
  --button-bg-color: #1f2630;
  --button-hover-color: #00d4ff;
  --button-cancel-color: #ff4d4f;
  --button-back-color: #ffa940;
  --button-next-color: #52c41a;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app-container {
  text-align: center;
}

.header {
  background-color: var(--header-bg-color);
  padding: 20px 0;
  margin-bottom: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  text-shadow: 0 0 15px var(--icon-shadow-color),
    0 0 30px var(--icon-hover-color);
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--grid-gap);
  padding: 20px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #161b22, #1f2630);
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.service-item:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px var(--icon-shadow-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  /* position: fixed;
  top: 10px; */
  /* left: 0; */
  /* width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  display: flex;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start; */
  background: var(--modal-bg-color);
  border: 2px solid var(--modal-border-color);
  border-radius: 10px;
  padding: 30px;
  max-width: 500px;
  min-height: 400px;
  margin-bottom: 10px;
  width: 70%;
  height: 70%;
  text-align: center;
  box-shadow: 0 10px 30px var(--icon-shadow-color);
}

.modal-title {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 20px;
  text-shadow: 0 0 10px var(--icon-hover-color);
}

.wizard-content label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1rem;
}

.wizard-content input,
.wizard-content select,
.wizard-content textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 8px;
  border: 2px solid var(--modal-border-color);
  border-radius: 5px;
  background-color: #0d1117;
  color: var(--text-color);
  outline: none;
  font-size: 1rem;
}
.wizard-content input.hours-worked {
  width: 100%;
  max-width: 100px; /* Define largura máxima */
  min-width: 60px; /* Define largura mínima */
  text-align: center;
  box-sizing: border-box;
  /* -moz-appearance: textfield; Remove setas no Firefox */
}

.wizard-content input[name="clientId"] {
  width: 100%; /* Ocupar o espaço disponível */
  max-width: 140px; /* Limitar largura para caber 7 caracteres */
  min-width: 100px; /* Garantir que não fique muito pequeno */
  text-align: center; /* Centralizar o texto no input */
  box-sizing: border-box; /* Incluir padding na largura */
  margin: 0 auto; /* Centralizar o input horizontalmente */
}

.wizard-content input.hours-worked::-webkit-inner-spin-button,
.wizard-content input.hours-worked::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove setas no Chrome e Safari */
  margin: 0;
}

.wizard-content input:focus,
.wizard-content select:focus,
.wizard-content textarea:focus {
  border-color: var(--icon-hover-color);
  box-shadow: 0 0 10px var(--icon-hover-color);
}

.wizard-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.wizard-buttons button {
  background: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid var(--modal-border-color);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1rem;
  width: 110px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.wizard-buttons button:hover {
  transform: scale(1.05);
}

.wizard-buttons .btn-cancel {
  background-color: var(--button-cancel-color);
  border-color: var(--button-cancel-color);
}

.wizard-buttons .btn-cancel:hover {
  background-color: #ff7875;
}

.wizard-buttons .btn-back {
  background-color: var(--button-back-color);
  border-color: var(--button-back-color);
}

.wizard-buttons .btn-back:hover {
  background-color: #ffc069;
}

.wizard-buttons .btn-next {
  background-color: var(--button-next-color);
  border-color: var(--button-next-color);
}

.wizard-buttons .btn-next:hover {
  background-color: #73d13d;
}

.wizard-buttons .btn-add {
  background-color: var(--button-next-color);
  border-color: var(--button-next-color);
}

.wizard-buttons .btn-add:hover {
  background-color: #73d13d;
}

.wizard-buttons .btn-submit {
  background-color: var(--icon-hover-color);
  border-color: var(--icon-hover-color);
}

.wizard-buttons .btn-submit:hover {
  background-color: #40a9ff;
}

.table-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.table-container {
  position: relative; /* Garante que os elementos internos, como o botão, sejam posicionados corretamente */
  background: var(--modal-bg-color);
  padding: 20px;
  border: 2px solid var(--modal-border-color);
  border-radius: 10px;
  width: 90%; /* Ocupa até 90% da largura disponível */
  max-width: 800px; /* Define um limite máximo para a largura */
  height: auto; /* Ajusta a altura automaticamente ao conteúdo */
  max-height: 90%; /* Garante que a tabela não ultrapasse a altura da tela */
  overflow-y: auto; /* Habilita rolagem vertical para conteúdo longo */
  box-shadow: 0 10px 30px var(--icon-shadow-color);
  margin: auto; /* Centraliza horizontalmente */
}

.table-title {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: 0 0 10px var(--icon-hover-color);
  margin-bottom: 20px;
  text-align: center;
}

.futuristic-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 1rem;
}

.futuristic-table thead tr {
  background: var(--header-bg-color);
}

.futuristic-table th,
.futuristic-table td {
  border: 1px solid var(--modal-border-color);
  padding: 10px;
}

.futuristic-table tbody tr:nth-child(odd) {
  background-color: #2d3746; /* Cor mais forte */
  color: #ffffff; /* Ajuste da cor do texto para contraste */
}

.futuristic-table tbody tr:nth-child(even) {
  background-color: #2c333a; /* Cor mais fraca */
  color: #ffffff; /* Ajuste da cor do texto para contraste */
}

.futuristic-table tbody tr:hover {
  background-color: #00d4ff; /* Cor de destaque ao passar o mouse */
  color: #000000; /* Ajuste do texto ao passar o mouse */
}

@media (max-width: 768px) {
  .wizard-content input.hours-worked {
    width: 100%; /* Ajusta o campo para telas menores */
    max-width: 50px; /* Remove restrições de tamanho máximo */
  }
}

/* Responsividade geral */
@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
    text-align: center;
  }

  .service-grid {
    flex-direction: column;
    gap: 15px;
  }

  .service-item {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
  }

  .wizard-content label {
    font-size: 0.9rem;
  }

  .wizard-content input,
  .wizard-content select,
  .wizard-content textarea {
    font-size: 0.9rem;
  }

  .futuristic-table {
    font-size: 0.9rem;
  }

  .futuristic-table th,
  .futuristic-table td {
    padding: 8px;
  }

  .pagination button {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .table-container {
    padding: 10px;
    width: 95%;
  }
}
/* Responsividade para Modais */
@media (max-width: 768px) {
  .modal-content {
    padding: 20px;
    width: 95%;
    max-width: 350px;
  }

  .close-modal {
    font-size: 1.2rem;
  }
}

.table-responsive {
  overflow-x: auto;
}

.futuristic-table {
  min-width: 600px; /* Define largura mínima para evitar colapsos */
}

@media (max-width: 768px) {
  .wizard-content input,
  .wizard-content select,
  .wizard-content textarea {
    width: 100%;
    padding: 8px;
  }
}

.btn-cancel {
  /* position: absolute; Torna o botão independente do fluxo normal
  top: 10px; Posiciona no topo do modal
  right: 10px; Posiciona à direita do modal */
  background-color: var(--button-cancel-color);
  border: none;
  color: var(--text-color);
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 18px;
}

.btn-cancel:hover {
  background-color: #ff7875;
}

.table-responsive {
  overflow-x: auto; /* Adiciona rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Suporte para rolagem suave em dispositivos móveis */
}

.futuristic-table {
  min-width: 600px; /* Define uma largura mínima para a tabela */
  width: 100%; /* Faz a tabela ocupar todo o espaço disponível */
  border-collapse: collapse; /* Remove espaçamentos internos das células */
  text-align: left;
  font-size: 1rem;
}

.futuristic-table th,
.futuristic-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--modal-border-color);
}

.futuristic-table tbody tr:hover {
  background-color: var(--icon-hover-color);
  color: #fff;
}

/* Estilos para telas menores */

@media (max-width: 1366px) {
  .table-container {
    width: 95%; /* Garante que a tabela ocupe quase toda a largura */
    max-height: 80%; /* Evita que o modal ultrapasse a tela verticalmente */
    padding: 15px; /* Reduz o padding para economizar espaço */
  }

  .futuristic-table {
    font-size: 0.9rem; /* Reduz levemente o tamanho da fonte */
  }

  .btn-cancel {
    top: 5px; /* Ajusta o botão mais próximo da borda superior */
    right: 5px; /* Ajusta o botão mais próximo da borda direita */
    padding: 8px 12px; /* Reduz o tamanho do botão */
  }
}
@media (max-width: 768px) {
  .futuristic-table {
    font-size: 0.9rem; /* Reduz o tamanho da fonte */
  }

  .futuristic-table th,
  .futuristic-table td {
    padding: 8px; /* Reduz o espaçamento interno */
  }

  .table-container {
    padding: 10px; /* Ajusta o padding no contêiner */
    width: 95%; /* Limita a largura do contêiner */
  }

  .pagination button {
    font-size: 0.8rem; /* Reduz o tamanho dos botões de paginação */
    padding: 5px 10px; /* Ajusta o espaçamento dos botões */
  }
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid var(--modal-border-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.table-container {
  width: 100%;
  max-width: 90%; /* Reduz a largura máxima em telas menores */
  overflow-x: auto; /* Habilita rolagem horizontal */
}

.modal-content {
  max-height: 90%; /* Limita a altura máxima */
  overflow-y: auto; /* Adiciona rolagem vertical */
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.pagination-button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid var(--modal-border-color);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1.5rem; /* Ajuste o tamanho do ícone */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  /* transform: scale(1.2); */
  background-color: var(--icon-hover-color);
  color: #fff;
}
.filter-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--modal-border-color);
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-edit {
  background-color: var(--button-next-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete {
  background-color: var(--button-cancel-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #73d13d;
}

.btn-delete:hover {
  background-color: #ff4d4f;
}

.modalEdit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Certifica que o modal fique acima de tudo */
}

.modalEdit {
  background: var(--modal-bg-color, #1f2630);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px; /* Largura máxima para telas grandes */
  max-height: 90%; /* Altura máxima para evitar ultrapassar a tela */
  overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--text-color, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalEdit-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalEdit-content label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  color: var(--text-color, #ffffff);
}

.modalEdit-content input,
.modalEdit-content select,
.modalEdit-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid var(--modal-border-color, #444);
  border-radius: 5px;
  background: #0d1117;
  color: #ffffff;
}

.modalEdit-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: auto; /* Empurra os botões para o final do modal */
}

.modalEdit-buttons .btn-cancel,
.modalEdit-buttons .btn-submit {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: white;
}

.modalEdit-buttons .btn-cancel {
  background-color: #d9363e;
}

.modalEdit-buttons .btn-cancel:hover {
  background-color: #ff7875;
}

.modalEdit-buttons .btn-submit {
  background-color: #52c41a;
}

.modalEdit-buttons .btn-submit:hover {
  background-color: #73d13d;
}

/* Ajuste de Responsividade */
@media (max-width: 768px) {
  .modalEdit {
    width: 95%; /* O modal ocupa quase toda a largura da tela em dispositivos pequenos */
    padding: 15px;
  }

  .modalEdit-content label {
    font-size: 0.9rem;
  }

  .modalEdit-content input,
  .modalEdit-content select,
  .modalEdit-content textarea {
    font-size: 0.9rem;
  }

  .modalEdit-buttons {
    flex-direction: column; /* Botões empilhados em telas menores */
    gap: 10px;
  }
}

/* Ocultar os spinners no Chrome, Edge e Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar os spinners no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
